name: Release
on:
  push:
    tags:
      - 'v*'
jobs:
  image:
    name: Push image to quay.io
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.15
      - name: Build image
        run: |
          make SUDO="" setup
          make test
          make bin/contour-plus
          make docker-build
      - name: Log in quay.io
        run: echo ${{ secrets.QUAY_PASSWORD }} | docker login -u ${{ secrets.QUAY_USER }} --password-stdin quay.io
      - name: Push versioned image to quay.io
        run: |
          TAG=${GITHUB_REF#refs/tags/v}
          docker tag quay.io/cybozu/contour-plus:latest quay.io/cybozu/contour-plus:$TAG
          docker push quay.io/cybozu/contour-plus:$TAG
      - name: Push latest image to quay.io
        if: ${{ !contains(github.ref, '-') }}
        run: docker push quay.io/cybozu/contour-plus:latest

  release:
    name: Release on GitHub
    needs: image
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            See [CHANGELOG.md](./CHANGELOG.md) for details.
          draft: false
          prerelease: ${{ contains(github.ref, '-') }}
